* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Poppins', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  border-bottom: 1px solid #e2e8f0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  max-width: 1200px;
  margin: 0 auto;
}

.hamburger {
  display: inline-block;
  cursor: pointer;
  background: #ffffff;
  border: 0;
  font-size: 24px;
  color: #999999;
  padding: 8px 12px;
}

.hamburger:active {
  background-color: #e2e8f0;
  border-radius: 5px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu.active {
  right: 0;
}

.nav-item {
  margin: 1rem 0;
}

.nav-link {
  padding: 12px 0;
  font-weight: 500;
  color: #999999;
}

.nav-link:hover {
  color: #f34949;
}

.navbar h1 {
  font-weight: 600;
  color: #f34949;
}

#hero {
  height: 60vh;
  background-blend-mode: darken;
  background-position: 50%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

#hero h2 {
  font-size: 32px;
  font-weight: 700;
  color: #f34949;
  letter-spacing: 5px;
  text-shadow: 3px 3px #ffffff;
  transition: ease-in-out 0.3s;
}

#hero p {
  color: #ffffff;
  text-align: center;
  padding: 10px 0;
  margin-bottom: 20px;
}

#hero a {
  font-size: 14px;
  color: #ffffff;
  border: 2px solid #f34949;
  padding: 10px 40px;
  transition: ease-in-out 0.3s;
}

#hero a:hover {
  background-color: #f34949;
}

#hero a:active {
  transform: translateY(5px);
}

#content {
  max-width: 1200px;
  margin: 50px auto;
}

#content .sub-title {
  letter-spacing: 2px;
  display: block;
  text-align: center;
  font-weight: 500;
  font-style: italic;
  color: #f34949;
}

#content h2 {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 3px;
}

#restos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  margin-top: 25px;
  padding: 0 1rem;
}

.resto {
  border: 1px solid #e2e8f0;
  width: 350px;
  box-shadow: 0 2px 20px 5px rgba(0, 0, 0, .1);
  transition: all 0.5s ease-in-out;
}

.resto:hover {
  transform: scale(1.05);
}

.resto:hover h3 {
  color: #f34949;
}

.image-fluid {
  height: 200px;
  overflow: hidden;
}

.image-fluid img {
  width: 100%;
}

.rating {
  margin: 8px 16px;
  color: #999999;
}

.nilai {
  font-weight: 600;
  color: #f34949;
}

.resto h3 {
  color: #1C2024;
  font-weight: 600;
  margin: 0 16px;
}

.resto p {
  margin: 8px 16px 12px 16px;
  color: #999999;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box !important;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  white-space: normal;
}

.kota {
  background-color: #f34949;
  color: #ffffff;
  padding: 6px 20px;
  display: inline-block;
  z-index: 10;
  position: absolute;
  transform: translateY(-500%);
}

#resto, #menus {
  margin-top: 25px;
  margin-bottom: 50px;
  padding: 0 1rem;
}

.detail__atas {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.detail__img img {
  width: 100%;
}

.detail__info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.detail__info h3 {
  font-size: 24px;
  font-weight: 600;
}

.detail__info p {
  color: #999999;
  font-weight: 500;
}

.detail__kategori {
  display: flex;
  gap: 10px;
}

.kategori {
  background-color: #f34949;
  color: #ffffff;
  padding: 3px 16px;
}

.detail__bawah {
  color: #999999;
  text-align: justify;
  margin-top: 15px;
}

#menus {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}

.foods, .drinks {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}

.food__item, .drink__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
  font-size: 18px;
  font-weight: 600;
  width: 180px;
  height: 150px;
  border: 1px solid #e2e8f0;
  box-shadow: 0 2px 20px 5px rgba(0, 0, 0, .1);
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.food__item:hover, .drink__item:hover {
  color: #f34949;
  transform: scale(1.13);
}

.food__item i, .drink__item i {
  color: #f34949;
}

#reviews {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  padding: 0 1rem;
  gap: 15px;
}

.review__item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 14px;
  border: 1px solid #e2e8f0;
  border-radius: 10px;
  box-shadow: 0 2px 20px 5px rgba(0, 0, 0, .1);
}

.review__user {
  display: flex;
  align-items: center;
  gap: 10px;
}

.review__user i {
  color: #f34949;
}

.review__user h4 {
  font-size: 20px;
  font-weight: 600;
}

.date {
  color: #999999;
  font-size: 12px;
}

.likeBtn, .likedBtn {
  font-size: 14px;
  background-color: #f34949;
  border: none;
  border-radius: 5px;
  box-shadow: 0 6px #999999;
  color: #ffffff;
  padding: 15px 25px;
  cursor: pointer;
}

.likeBtn:hover {
  background-color: #e02222;
}

.likedBtn:hover {
  background-color: #fb6e6e;
}

.likeBtn:active, .likedBtn:active {
  box-shadow: 0 3px #666666;
  transform: translateY(3px);
}

#likeButton i {
  margin-right: 6px;
}

footer {
  background-color: #1C2024;
  color: #ffffff;
}

.container {
  max-width: 1200px;
  margin: 0 1rem;
  padding-top: 50px;
  padding-bottom: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  text-align: center;
}

.foot-profile {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}

.foot-profile h1 {
  font-weight: 600;
  color: #f34949;
  font-size: 30px;
}

.sosmed {
  display: flex;
  gap: 10px;
  margin-top: 12px;
}

.sosmed a {
  color: #ffffff;
  background-color: #23262A;
  padding: 12px;
  border-radius: 9999px;
}

.sosmed a:hover {
  color: #e2e8f0;
}

.foot-misc {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.foot-misc ul {
  width: 10rem;
}

.foot-misc ul li {
  height: 2.5rem;
}

.foot-misc ul li a {
  color: #ffffff;
  font-weight: 400;
  padding: 11px 0;
}

.foot-misc ul li a:hover {
  color: #e2e8f0;
}

.misc-title {
  font-weight: 500;
  font-size: 20px;
}

.footnote {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 1rem;
  padding: 10px 0;
  border-top: 1px solid #23262A;
}

.skip-link {
  position: absolute;
  top: -50px;
  left: 0;
  padding: 9.5px;
  background-color: #f34949;
  color: white;
  z-index: 100;
}

.skip-link:focus {
  top: 0;
}
